# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directories
node_modules

# Build result
build/hmr-electron.js
tests/full/demo/dev-build
tests/full/demo/build
!build/bin
!build/index.d.ts
build
